@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-body-light: #f8f9fa;
  --bg-body-dark: #0f172a;
  --bg-body-dark-secondary: #1e293b;
  --bg-body-light-secondary: #dee2e6;
  --color-body: #2e3342;
  --orange: #ffa447;
  --blue: #7ecbff;
  --pink: #ffa6c4;
  --green: #1eccc3;
}

html {
  font-size: 62.5%;
}

body,
input,
textarea {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-body-light);
  font-size: 1.5rem;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
}

/* icons */

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.icon--large {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

/* --------header-------- */

.header {
  margin: 1rem 0;
}

.header__profile {
  display: flex;
  align-items: center;
}

.toggler {
  margin: 0 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.icon:hover {
  transform: scale(1.3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 15px;
}

/* --------main-------- */

/* cart items*/

.cart--items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 12rem;
}

.cart__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 1rem;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  width: 100%;
  height: 100%;
  max-width: 350px;
  overflow-x: hidden;
}

.cart__body {
  margin: 1rem 0;
  flex-grow: 1;
}

.cart__text,
.cart__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__description {
  border: 1px solid var(--color-body);
  border-radius: 8px;
  padding: 0.5rem;
}

/* --------footer-------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--bg-body-light-secondary);
  border-radius: 40px 40px 0 0;
  width: 100%;
  height: 60px;
}

.bar {
  width: 80%;
  margin: 0 1rem;
  height: 5px;
  border-radius: 10px;
  opacity: 0.2;
  background-color: var(--color-body);
  transform: translateY(5px);
}

.add--note {
  background-color: var(--bg-body-light-secondary);
  border-radius: 50%;
  padding: 1.2rem;
  transform: translateY(40px);
  z-index: 10;
}

/* backdrop form */

.backdrop {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop__form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body-light);
  padding: 3rem 2rem;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  max-width: 400px;
}

.form {
  outline: none;
  border: none;
  padding: 1rem;
  background-color: var(--bg-body-light-secondary);
  border-radius: 8px;
  font-size: 2rem;
}

.title {
  font-weight: 700;
  font-size: 2.1rem;
  margin: 1.5rem 0;
}

.text {
  resize: none;
  height: 100px;
}

.text::-webkit-scrollbar {
  display: none;
}

.form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.btn--save {
  margin-left: 1rem;
  background-color: var(--orange);
}

/* backdrop color */

.backdrop__color {
  background-color: var(--bg-body-light);
  width: 100%;
  height: 100px;
  margin-top: 2rem;
}

.colors {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.color {
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 60px;
}

.color:not(:last-child) {
  margin-right: 2rem;
}

.color--orange {
  background-color: var(--orange);
}
.color--blue {
  background-color: var(--blue);
}
.color--green {
  background-color: var(--green);
}
.color--pink {
  background-color: var(--pink);
}

/* dark mode */

.dark {
  display: none;
}

.dark--mode .dark {
  display: block;
}

.dark--mode .light {
  display: none;
}

body.dark--mode {
  background-color: var(--bg-body-dark);
  color: var(--bg-body-light);
}

.dark--mode .cart__item {
  box-shadow: 0px 13px 19px rgba(255, 255, 255, 0.09);
}

.dark--mode .footer__menu {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .add--note {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .bar {
  background-color: var(--bg-body-light);
}

.dark--mode .cart__description {
  border: 1px solid var(--bg-body-light);
}

.dark--mode .backdrop__form {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .form {
  background-color: var(--bg-body-light);
}

.dark--mode .btn--save {
  background-color: var(--blue);
}

.dark--mode .btn--cancel {
  color: var(--bg-body-light);
}

.dark--mode .backdrop__color {
  background-color: var(--bg-body-dark-secondary);
}