@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --bg-body-light: #f8f9fa;
  --bg-body-dark: #0f172a;
  --bg-body-dark-secondary: #1e293b;
  --bg-body-light-secondary: #dee2e6;
  --color-body: #2e3342;
  --orange: #ffa447;
  --blue: #7ecbff;
  --pink: #ffa6c4;
  --green: #1eccc3;
  --white: #ffff;
}

html {
  font-size: 62.5%;
}

body,
input,
textarea {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-body-light);
  font-size: 1.8rem;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

/* icons */

.icon {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.icon--large {
  width: 52px;
  height: 52px;
  cursor: pointer;
}

.icons--check {
  display: none;
  width: 100%;
  height: 100%;
}

.color__select .icons--check {
  display: block;
}

.icon--check {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (min-width: 576px) {
  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .icon--large {
    width: 55px;
    height: 55px;
    cursor: pointer;
  }
}

/* --------header-------- */

.header {
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}

.header__profile {
  display: flex;
  align-items: center;
}

.toggler {
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.toggler:hover {
  transform: scale(1.3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------main-------- */

/* cart items*/

.cart--items {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 1.5rem;
  margin-bottom: 12rem;
}

.cart__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 1rem;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.cart__body {
  margin: 1rem 0;
  flex-grow: 1;
}

.cart__text,
.cart__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__description {
  border: 1px solid var(--color-body);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 576px) {
  .cart--items {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

/* --------footer-------- */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1400px;
  margin: auto;
}

.footer__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem 3rem;
  background-color: var(--white);
  border-radius: 30px 30px 0 0;
  width: 100%;
}

.icons--bar {
  width: 80%;
  margin: 0 1rem;
  height: 5px;
  border-radius: 10px;
  opacity: 0.2;
  background-color: var(--color-body);
  transform: translateY(8px);
}

.icons--bell,
.icons--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add--note {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -22px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 0.7rem;
}

@media screen and (min-width: 576px) {
  .add--note {
    padding: 0.7rem;
    top: -25px;
  }
}

/* backdrop form */

.backdrop {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop__form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-body-light);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  max-width: 500px;
}

.form {
  outline: none;
  border: none;
  padding: 1rem;
  background-color: var(--bg-body-light-secondary);
  border-radius: 8px;
  font-size: 2rem;
}

.title {
  font-weight: 700;
  font-size: 2.1rem;
  margin: 1.5rem 0;
}

.text {
  resize: none;
  height: 100px;
}

.colors {
  display: flex;
  width: 100%;
  margin: 1.8rem 0;
  align-items: center;
  justify-content: space-between;
}

.color {
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  height: 60px;
}

.color:not(:last-child) {
  margin-right: 1.5rem;
}

.color--orange {
  background-color: var(--orange);
}
.color--blue {
  background-color: var(--blue);
}
.color--green {
  background-color: var(--green);
}
.color--pink {
  background-color: var(--pink);
}

.form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s linear;
}

.btn--save {
  margin-left: 1rem;
  background-color: var(--orange);
}

.btn--save:hover{
  background-color: #ec8c2c;
}

@media screen and (min-width: 768px) {
  .color:not(:last-child) {
    margin-right: 2.5rem;
  }
}

/* dark mode */

.dark {
  display: none;
}

.dark--mode .dark {
  display: block;
}

.dark--mode .light {
  display: none;
}

body.dark--mode {
  background-color: var(--bg-body-dark);
  color: var(--bg-body-light);
}

.dark--mode .footer__menu {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .add--note {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .icons--bar {
  background-color: var(--bg-body-light);
}

.dark--mode .cart__description {
  border: 1px solid var(--bg-body-light);
}

.dark--mode .backdrop__form {
  background-color: var(--bg-body-dark-secondary);
}

.dark--mode .form {
  background-color: var(--bg-body-light);
}

.dark--mode .btn--save {
  background-color: var(--blue);
}

.dark--mode .btn--save:hover {
  background-color: #53a8e0;
}


.dark--mode .btn--cancel {
  color: var(--bg-body-light);
}

.dark--mode .backdrop__color {
  background-color: var(--bg-body-dark-secondary);
}
